<header>
    <nav>
        <a href="/">MyAppln</a>
        <ul>
            <li>
                <a href="/authors">Authors</a>
                <a href="/authors/new">Add New Author</a>
            </li>
        </ul>
    </nav>
</header>