<h1>Edit Authors</h1>

<form method="POST" action="/authors/<%= authors.id%>?_method=PUT">
    <label>Name</label>
    <input type="text" name="txtAuthorName" value="<%= authors.name%>">
    <a href="/authors">Cancel</a>
    <button type="submit">Submit</button>
</form>