<h2 class="page-header">Edit Authors</h2>

<form method="POST" action="/authors/<%= authors.id%>?_method=PUT">
    <div class="form-row">
        <div class="form-item">
            <label>Name</label>
            <input type="text" name="txtAuthorName" value="<%= authors.name%>">
        </div>
    </div>
    <div class="form-row form-row-end btn-row">
        <a class="btn btn-danger" href="/authors/<%= authors.id %>">Cancel</a>
        <button class="btn btn-primary" type="submit">Update</button>
    </div>
</form>