<h1>create New authors</h1>

<form method="POST" action="/authors">
    <label>Name</label>
    <input type="text" name="txtAuthorName" value=<% author.txtAuthorName%>>
    <a href="/authors">Cancel</a>
    <button type="submit">Submit</button>
</form>